<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OBSS MENTORSHIP | Mentor Ara</title>
    <!-- Title bar icon -->
    <link rel = "shortcut icon" href ="../img/icon.svg"    type = "image/svg">
    <!-- Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Fauna+One|Lobster|Fugaz+One" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../css/dashboard.css" rel="stylesheet">
    <link href="../../css/cover.css" rel="stylesheet">
</head>

<body text-align="center">

<div class="cover-container d-flex h-100 p-2 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <!-- <h3 class="masthead-brand">OBSS MENTORSHIP</h3>-->
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="/user/">Ana Sayfa</a>
                <a class="nav-link" href="/user/user-dashboard">Dashboard <i class="fas fa-home"></i></a>
                <a class="nav-link" href="/user/apply-as-mentor">Mentor Ol <i class="fas fa-file-signature"></i></a>
                <a class="nav-link active" href="/user/search-mentor">Mentor arama <i class="fas fa-search"></i></a>
                <a class="nav-link" href="/logout">Oturumu kapat <i class="fas fa-sign-out-alt"></i></a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <h1 class="cover-heading">mentor arama</h1>
        <p class="lead jumbotron-body">mentorunuzda aradığınız konu/alt konuları seçebilir, sözcük arayabilirsiniz.</p>
    </main>


    <form action="#" th:action="@{/user/search-mentor}" th:object="${mentorsearch}" method="post">

        <div class="form-row">
            <div class="form-group col-md-2">
                <a tabindex="0" role="button" class="btn btn-sm btn-secondary" data-toggle="popover" data-trigger="focus" data-content="Şu anda aktif bir mentorluğunuzun aynı ana konusunda veya herhangi bir alt konusunda mentorluk alamazsınız. Buna göre konuların bazıları seçilemiyor olabilir ve alt konuların hepsini görmüyor olabilirsiniz."><i class="fas fa-question-circle"></i></a>
            </div>
            <div class="form-group col-md-5">
                <select class="form-control selectpicker" th:field="*{topic}" id="topic">
                    <option class="jumbotron-td" value="">Ana Konu</option>
                    <option class="jumbotron-td" th:each="activetopic : ${activetopics}"
                            th:value="${activetopic.id}"
                            th:text="${activetopic.title}">Ana Konu
                    </option>
                    <option class="jumbotron-td" th:each="distopic : ${disabledtopics}"
                            th:value="${distopic.id}"
                            th:text="${distopic.title}" disabled>Ana Konu
                    </option>

                </select>
            </div>
            <div class="form-group col-md-5">
                <select class="form-control selectpicker" th:field="*{subtopics}" id="subtopic" multiple>
                    <p class="jumbotron-td">Alt Konu</p>
                    <option class="jumbotron-td" th:each="subtopic : ${subtopics}"
                            th:value="${subtopic.id}"
                            th:text="${subtopic.title}">Alt Konu
                    </option>
                </select>
            </div>
        </div>

        <div class="form-row align-items-center">
            <div class="form-group col-md-12">
                <input type="text" class="form-control"  th:field="*{searchtext}" placeholder="Anahtar kelime girin: Spring, HTML, Basketbol..">
            </div>
        </div>
        <p>
            <button class="btn btn-md btn-secondary>" ><i class="fas fa-search" type="submit"> </i></button>
        </p>
    </form>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p></p>
        </div>
    </footer>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../js/popper.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
      feather.replace()
    </script>

<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
    $('.popover-dismiss').popover({
        trigger: 'focus'
    })
</script>


</body>
</html>
