<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OBSS MENTORSHIP | Dashboard</title>
    <!-- Title bar icon -->
    <link rel = "shortcut icon" href ="../img/icon.svg"    type = "image/svg">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Fauna+One|Lobster|Fugaz+One" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../css/dashboard.css" rel="stylesheet">
    <link href="../../css/cover.css" rel="stylesheet">
  </head>

  <body>

    <div class="cover-container d-flex h-100 p-2 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <!-- <h3 class="masthead-brand">OBSS MENTORSHIP</h3>-->
          <nav class="nav nav-masthead justify-content-center">
              <a class="nav-link" href="/user/">Ana Sayfa</a>
              <a class="nav-link active" href="/user/user-dashboard">Dashboard <i class="fas fa-home"></i></a>
              <a class="nav-link" href="/user/apply-as-mentor">Mentor Ol <i class="fas fa-file-signature"></i></a>
              <a class="nav-link" href="/user/search-mentor">Mentor arama <i class="fas fa-search"></i></a>
              <a class="nav-link" href="/logout">Oturumu kapat <i class="fas fa-sign-out-alt"></i></a>
          </nav>
        </div>
      </header>

          <main role="main" class="inner cover">
            <h1 class="cover-heading">sizin sayfanız.</h1>
            <p class="lead jumbotron-body">öğrenirken öğretmeye devam edin.</p>
            <div>
              <p class="lead">
                <a href="/user/apply-as-mentor" class="btn btn-lg btn-secondary">mentor olun</a>
              </p>
            </div>
          </main>

          <div class="row">
          <div class="col-md-12">
          <h2 class="jumbotron-body">mentorluklar</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead class="thead-dark">
                <tr>
                    <th style="background-color: #030050">Mentee</th>
                    <th style="background-color: #030050">Konu</th>
                    <th style="background-color: #030050">Alt Konu</th>
                    <th style="background-color: #030050">Faz Durumu</th>
                    <th style="background-color: #030050">Detay</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="mentor : ${mentoring}">
                    <td class="jumbotron-td" th:text="${mentor.user.name}"></td>
                    <td class="jumbotron-td" th:text="${mentor.topic.title}"></td>
                    <td class="jumbotron-td" th:text="${mentor.subtopic.title}"></td>
                    <td class="jumbotron-td" th:text="${mentor.phaseStatus}"></td>
                    <td class="jumbotron-td"><a th:href="@{'/user/mentorship-details/' +  ${mentor.id}}" ><i class="fa fa-bars"></i></a></td>
                </tr>

              </tbody>
            </table>
          </div>
          </div>
          </div>

          <div class="row">
          <div class="col-md-12">
            <h2 class="jumbotron-body">menteelikler</h2>
            <div class="table-responsive">
              <table class="table table-striped table-sm">
                <thead class="thead-dark">
                <tr>
                  <th style="background-color: #030050">Mentor</th>
                  <th style="background-color: #030050">Konu</th>
                  <th style="background-color: #030050">Alt Konu</th>
                  <th style="background-color: #030050">Faz Durumu</th>
                  <th style="background-color: #030050">Detay</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="mentee : ${menteeing}">
                        <td class="jumbotron-td" th:text="${mentee.acceptedMentor.name}"></td>
                        <td class="jumbotron-td" th:text="${mentee.topic.title}"></td>
                        <td class="jumbotron-td" th:text="${mentee.subtopic.title}"></td>
                        <td class="jumbotron-td" th:text="${mentee.phaseStatus}"></td>
                        <td class="jumbotron-td"><a th:href="@{'/user/mentorship-details/' +  ${mentee.id}}" ><i class="fa fa-bars"></i></a></td>
                    </tr>

                </tbody>
              </table>
            </div>
          </div>
          </div>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p></p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../js/popper.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>


  </body>
</html>
